.Principal{
	margin: 0 auto;
	width: 520px;
}


.Titulo{
	padding-top: 16px;
	background-color: #33bebe;
	color: #ffffff;
	font-family: "Arial"
}

.Contenido{
	display: flex;
	flex-direction: row;
	padding-left: 0px;

}
.Parrafo{
	margin: 0;
	color: #7C8B88; 
	padding-left: 10px;
	
}